<header>
 
  <h1 class="logo"><em>Pop Datish</em> | Popcorn Kitchen <br>
    <img src="../assets/product-imaging/PngItem_1876137.png" style="height:100px"></h1>   
</header>

<div class="products">
  <div class="products-list">
    <div class="product-item" *ngFor="let product of products">
      <h2>{{ product.name }}</h2>
      <img [src]="product.image" />
      {{ product.description }}
      <div class="buy-products">
        <h3>{{ product.price | currency }}</h3>
        <button (click)="triggerCreateCheckout(product)">Buy Now</button>
      </div>
    </div>
  </div>
</div>
